<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1> Tous les articles.</h1>
  <%= link_to 'Créer un article', new_article_path %>
 
  <%= render 'articles/articles', obj: @articles %>
  </div>
</div>




