 <div class="row">
    <div class="col-xs-7  col-xs-offset-2">
        <h1>Elliot H.KNIGHT<h1>

     <p>Voilà mon premier protoype créé à l'aide du Rails Heroes Course d'Harry Gueguen,<br/>
      il m'a permi d'avoir une vision plus globale de comment créer un site avec des utilisateurs <br/>
      via database ainsi que d'utiliser Heroku et pleins d'autres choses.</p>
   </div>
</div>
