 <div class="row">
    <div class="col-xs-7  col-xs-offset-2">
        <h1>À propos de moi<h1>

     <p>Salut, je suis en train de faire ce protoype, il est encore loin d'être abouti.<br/>
        Ici figureront les choses à propos de moi ou autres je ne sais encore.</p>
   </div>
</div>
