<div class="center container">
    <div class="jumbotron">
      <h1>Music blog</h1>
       <p> Welcome my friend</p>
        <%= link_to "Sign up", "#" , class:"btn btn-info btn-lg" %>
       </div>
</div>


