$navbar-default-bg:#584E49;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    margin-top: 8px;
    float: left;
    font-size: 1.7em;
    color : white;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bold;
}

#about {
    color: #E22525;
    font-weight: bold;
    font-size: 1em;
    font-style: italic;
}

#article{
    color: #E22525;
    font-weight: bold;
    font-size: 1em;
}



#newarticle{
    color: #E22525  ;
    font-weight: bold;
    font-size: 1em;
    
}

.center {
    text-align: center;
  }

.jumbotron {
      background-image: asset-url('arizona.jpg');
      background-size: cover;
      height: 510px;
  }

.jumbotron h1 p {
    color: grey;
}

.articles-actions {
    border-top: 1px solid #8FABF0;
    margin-top: 15px;
    padding-top: 15px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #8FABF0 ;
    color: #8FABF0;


    text-decoration: none;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}
