$navbar-default-bg: #94CDE1;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color : white;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bold;
}

#about {
    color: purple;
    font-weight: bold;
    font-size: 1em;
}

#article{
    color: purple;
    font-weight: bold;
    font-size: 1em;
}



#newarticle{
    color: purple;
    font-weight: bold;
    font-size: 1em;
    
}

.center {
    text-align: center;
  }